.jw-drawer {
    font-family: "Poppins";
    font-weight: 700;
    height: 100%;
    width: 280px;
    position: relative;
    -webkit-animation: slide 0.2s ease;
    -moz-animation: slide 0.2s ease;
    -o-animation: slide 0.2s ease;
    -ms-animation: slide 0.2s ease;
    animation: slide-out 0.2s ease;
    animation-fill-mode: forwards;
    background-color: #f5f6f7;
    overflow-y: auto;
    z-index: 999;
  }
  .jw-drawer nav {
    width: calc(90% - 25px);
    float: left;
    display: block;
  }
  .jw-drawer ul li {
    list-style: none;
  }
  .jw-drawer ul li a {
    font-family: "Lexend Deca";
    background: #f5f6f7;
    cursor: pointer;
    position: relative;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 15px;
    box-shadow: -4px -2px 4px 0px #ffffff, 4px 2px 6px 0px #dfe4ea;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0d3c82 !important;
    font-size: 14px;
  }
  .jw-drawer ul li a svg {
    width: 18px;
    height: 18px;
    margin-bottom: 10px;
  }
  .jw-drawer ul li a:hover {
    background-color: #f1f8fb;
    color: #474e5d !important;
    padding: auto;
    box-shadow: inset -2px -2px 5px white, inset 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  