.row{
    color: white;
}
#font{
    font-family: Times New Roman;
    font-size: 38px;
    color: #633131;
    letter-spacing: 4px;
    word-spacing: 0px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    padding: 21px 21px;
    border-radius: 20px;
    background: #FAFAFA;
    text-shadow: 7px 5px 14px #d6d3d3;
    margin-bottom: 0px;
}