.main-div mat-card{
    padding: 0px;
}
.login-form{
    padding: 20px;
}
.material-icons {
    display: inline-flex;
    vertical-align: middle;
 }
 #warning{
     display: none;
 }

 .login-card{
     margin-top: 150px;
 }