<!-- <div class="footer-clean">
    <footer>
        <div class="footer-info">
        <h3>About Us:</h3>
        <ul>
            <li>Address: Sofia bul.Carigradsko shose 2</li>
            <li>Telefon: 0893123456</li>
            <li>Email: myllitlelibrarysupport@gmail.com</li>
        </ul>
        </div>
        <div class="footer-trademark"> 
        <p class="copyright">Copyright Endava © 2021. All rights reserved. Powered by team Cherokee.</p>
        </div>
    </footer>
</div> -->
<div class="md-padding footer-clean" layout="column" layout-fill>
    <footer layout="row" class="md-padding">
      <div class="footer-info">
        <h3>About Us:</h3>
        <ul>
            <li>Address: Sofia bul.Carigradsko shose 2</li>
            <li>Telefon: 0893123456</li>
            <li>Email: myllitlelibrarysupport@gmail.com</li>
        </ul>
      </div>
      <div class="footer-trademark"> 
        <p class="copyright">Copyright Endava © 2021. All rights reserved. Powered by team Cherokee.</p>
        </div>
    </footer>
  </div>