<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3 class="field">Reset Password</h3>
        <form #f="ngForm"
              (ngSubmit)="onSubmit(f)">

            <div class="form-group">
                <label class="field" for="resetPassword">Account Password</label>
                <input type="password"
                       name="password"
                       ngModel
                       required
                       #password="ngModel"
                       class="form-control"
                       id="resetPassword"
                       placeholder="Enter new Password"
                       pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{10,}$">
            </div>

            <button type="submit"
                    [disabled]="f.invalid"
                    class="btn btn-primary">Reset Password <i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
</div>